/******** base color css ********/
.cu_btn {
    display: inline-block;
    padding: 17px 26px;
    line-height: 19px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
    @include transform_time(.3s);
    font-family: $bar_font;
    min-width: 180px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media #{$mobile} {
        padding: 17px 20px;
        font-size: 15px;
    }
    &.lg_btn{
        padding: 22px 44px;
    }
    &.sm_btn{
        padding: 14px 26px;
    }
    &.xs_btn{
        padding: 11px 26px;
    }
    i {
        font-size: 12px;
    }
    &.gradient_text_btn{
        background-color: $heading_color;
        border: 2px solid $heading_color;

    }
    .gradient_text{
        background-color: transparent;
        background-image: linear-gradient(90deg,#5758df 0%,#f77991 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        
    }
    &:hover{
        .gradient_text{
            background-color: transparent;
            background-image: linear-gradient(270deg,#5758df 0%,#f77991 100%);
            color: transparent;
            -webkit-background-clip: text;
        }
    }
    &.gradient_btn{
        background: linear-gradient(90deg, #5758df 0%, #f77991  50%, #5758df 100%, #f77991  110%);
        background-size: 200% 100%;
        color: $white;
        border: 0px solid transparent !important;
        color: $white;
        padding: 19px 36px;
        &:hover{
            background-position: 100% 0;
        }
    }
    &.orange_gradient_btn{
        background-image: radial-gradient(at bottom center,#c21500 0%,#ffc500 100%);
        color: $white;
        border: 0px solid transparent !important;
        color: $white;
        padding: 19px 36px;
        &:hover{
            background-image: radial-gradient(at center center,#c21500 0%,#ffc500 100%);
        }
    }
    &.blue_stock_btn{
        background-color: transparent;
        border: 1px solid #5758e0;
        color: #5758e0;
        &:hover {
            background-color: #5758e0;
            border: 1px solid #5758e0;
            color: $white;
        }
        &.lg_btn{
            padding: 20px 44px;
        }
        &.sm_btn{
            padding: 15px 26px;
        }
        &.xs_btn{
            padding: 12px 26px;
        }
    }
    &.btn_1 {
        background-color: transparent;
        border: 2px solid #eee;
        color: #111;
        &:hover {
            background-color: $base_color;
            border: 2px solid $base_color;
            color: $white;
        }
        &.blue_hover{
            &:hover{
               background-color: #2a53ff;
                border: 2px solid #2a53ff;
                color: $white !important; 
            }
        }
        &.blue_hover{
            &:hover{
               background-color: #2a53ff;
                border: 2px solid #2a53ff;
                color: $white !important; 
            }
        }
        &.dark_hover{
            &:hover{
               background-color: #111;
                border: 2px solid #111;
                color: $white !important; 
            }
        }
    }

    &.btn_2 {
        background-color: transparent;
        border: 1px solid rgba($color: $heading_color, $alpha: .2);
        color: $heading_color;

        &:hover {
            background-color: $base_color;
            border: 1px solid $base_color;
            color: $white;

        }
    }

    &.btn_border_2 {
        background-color: transparent;
        border: 2px solid #eee;
        color: $heading_color;

        &:hover {
            background-color: $heading_color;
            border: 2px solid $heading_color;
            color: $white;

        }
    }

    &.white_btn {
        background-color: transparent;
        border: 2px solid $white;
        color: $white;

        &:hover {
            background-color: transparent;
            border: 2px solid $base_color;
            color: $white;
            background-color: $base_color;
        }
    }

    &.base_btn {
        background-color: $base_color_2;
        border: 2px solid $base_color_2;
        color: $white;

        &:hover {
            background-color: $base_color_3;
            border: 2px solid $base_color_3;
            color: #fff;
        }
    }

    &.org_btn {
        background-color: #f65e4d;
        border: 2px solid #f65e4d;
        color: $white;

        &:hover {
            background-color: transparent;
            border: 2px solid #f65e4d;
            color: #f65e4d;
        }
        &.purple_hover{
            &:hover{
               background-color: #9e8ad9;
                border: 2px solid #9e8ad9;
                color: $white; 
            }
        }
    }

    &.pink_btn {
        background-color: #f77991;
        border: 2px solid #f77991;
        color: $white;
        &:hover {
            background-color: #f77991;
            border: 2px solid #f77991;
            color: $white;
        }
    }

    &.green_btn {
        background-color: $base_color;
        border: 2px solid $base_color;
        color: $white;

        &:hover {
            background-color: #111;
            border: 2px solid #111;
            color: #fff;
        }
        &.base_hover{
            &:hover {
                background-color: #f77991;
                border: 2px solid #f77991;
            }
        }
    }
    &.white_bg {
        background-color: $white;
        border: 2px solid $white;
        color: $heading_color;

        &:hover {
            background-color: transparent;
            border: 2px solid $base_color;
            color: $white;
            background-color: $base_color;
        }
    }

    &.btn_3 {
        background-color: $base_color;
        border: 2px solid $base_color;
        color: $white;

        &:hover {
            background-color: transparent;
            border: 2px solid $base_color;
            color: $base_color;
        }
    }

    &.btn_4 {
        background-color: #111;
        border: 2px solid #111;
        color: $white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: $bar_font;
        padding: 17px 40px;

        &:hover {
            background-color: $base_color;
            border: 2px solid $base_color;
        }
        &.pink_hover{
            &:hover{
                background-color: #f77991;
                border: 2px solid #f77991;
                color: $white;
            }
        }
        &.red_damask{
            &:hover{
                background-color: #cd744e;
                border: 2px solid #cd744e;
                color: $white;
            }
        }
        &.goldenrod_bg{
            &:hover{
                background-color: #c18f4e;
                border: 2px solid #c18f4e;
            }
        }
        &.dark_hover{
            &:hover{
                background-color: #111;
                border: 2px solid #111;
                color: $white;
            }
        }
    }


    &.btn_5 {
        border: 1px solid rgba($color: #fff, $alpha: .1);
        color: $white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: $bar_font;
        padding: 17px 40px;

        &:hover {
            background-color: $base_color;
            border: 2px solid $base_color;
        }
        &.hover_white{
            &:hover {
                background-color: $white;
                border: 1px solid $white;
                color: $heading_color;
            }
        }
    }
    &.social_btn {
        padding: 13px 14px;
        line-height: 20px;
        min-width: auto;
        border-style: solid;
        border-width: 2px;
        border-color: #bebcba;
        font-weight: 700;
        color: $base_color_2;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        i{
            font-size: 20px;
        }
    }

    &.tag_btn {
        background-color: #f0f2f9;
        border: 2px solid #f0f2f9;
        color: #7d7d7d;
        border-radius: 50px;
        font-weight: 400;
        font-size: 16px;
        padding: 11px 20px;
        font-family: $bar_font;
        min-width: auto;
        text-transform: capitalize;

        &:hover {
            background-color: transparent;
            border: 2px solid $base_color;
            color: $white;
            background-color: $base_color;
        }
    }

    &.tag_btn_1 {
        background-color: #37a45d;
        border: 1px solid #37a45d;
        color: #fff;
        border-radius: 50px;
        font-weight: 400;
        font-size: 18px;
        min-width: 120px;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        border-radius: 5px;

        &:hover {
            background-color: transparent;
            border: 1px solid $base_color;
            color: $white;
            background-color: $base_color;
        }
    }

    &.btn_ct {
        text-transform: capitalize;
        letter-spacing: 1pt;
        width: 180px;
        text-align: center;
        border: 2px solid rgba($color: #fff, $alpha: .3);
    }

    &.animate_btn {
        position: relative;
        z-index: 1;
        text-align: center;
        background-color: transparent;
        border: 1px solid $border_color;
        color: $heading_color;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &:before {
            opacity: 0;
            -webkit-transition-duration: .6s;
            transition-duration: .6s;
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
            -webkit-transition-property: opacity;
            transition-property: opacity;
            z-index: -1;
        }

        &:after {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: right;
            transform-origin: right;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            -webkit-transition-timing-function: cubic-bezier(.075, .82, .165, 1);
            transition-timing-function: cubic-bezier(.075, .82, .165, 1);
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            z-index: -1;
            background-color: $base_color;
        }

        &:hover:after {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            transform-origin: left;
            -webkit-transform-origin: left;
        }

        &:hover:before {
            opacity: 1;
        }

        &:hover {
            border: 1px solid $base_color;
            color: $white;
        }
    }

    &.animate_btn_2 {
        position: relative;
        z-index: 1;
        text-align: center;
        background-color: $base_color;
        border: 1px solid $base_color;
        color: $white;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &:before {
            opacity: 0;
            -webkit-transition-duration: .6s;
            transition-duration: .6s;
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
            -webkit-transition-property: opacity;
            transition-property: opacity;
            z-index: -1;
        }

        &:after {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: right;
            transform-origin: right;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            -webkit-transition-timing-function: cubic-bezier(.075, .82, .165, 1);
            transition-timing-function: cubic-bezier(.075, .82, .165, 1);
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            z-index: -1;
            background-color: $white;
        }

        &:hover:after {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            transform-origin: left;
            -webkit-transform-origin: left;
        }

        &:hover:before {
            opacity: 1;
        }

        &:hover {
            border: 2px solid $base_color;
            color: $base_color;
        }
    }
}

.btn_arrow {
    position: relative;
    padding-right: 27px;
    color: #051441;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;

    img {
        position: absolute;
        right: 0;
        top: 9px;
        @include transform_time(.3s);
    }

    i {
        font-size: 16px;
        margin-left: 8px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        right: 0;
        top: 4px;
    }

    &:hover {

        i,
        img {
            transform: translateX(5px);
            color: $base_color;
        }
    }
}

.border_animation {
    position: relative;
    display: inline-block;

    &:after,
    .cu_btn:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 1px;
        background-color: $heading_color;
        content: "";
        @include transform_time(.3s);
    }

    &:before,
    .cu_btn:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 15px;
        background-color: $heading_color;
        content: "";
        @include transform_time(.3s);
    }

    .cu_btn {
        padding: 22px 45px;
        border: 2px solid #ebebeb;

        &:after {
            top: auto;
            bottom: 0;
            right: 0;
            left: auto;
        }

        &:before {
            top: auto;
            bottom: 0;
            right: 0;
            left: auto;
        }

        &:hover {
            background-color: transparent;
            color: $heading_color;
            border: 2px solid #ebebeb;

            &:after {
                width: 100%;
            }

            &:before {
                height: 100%;
            }
        }
    }

    &:hover {
        background-color: transparent;

        &:after {
            width: 100%;
        }

        &:before {
            height: 100%;
        }
    }
}

.btn_border_effect {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    @include transform_time(.3s);
    cursor: pointer;
    border: 0;
    display: inline-block;
    height: 55px;
    line-height: 55px;

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #c85831;
        @include transform_time(.5s);
        left: 0;
        top: 0;
    }

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 7px;
        background-color: #c85831;
        left: 0;
        bottom: 17px;
        z-index: -1;
        @include transform_time(.3s);

    }

    a {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            width: 2px;
            height: 0;
            background-color: #c85831;
            transition: all 0.3s ease;
            right: 0;
            top: 0;
        }

        &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 0;
            background-color: #c85831;
            transition: all 0.3s ease;
            left: 0;
            bottom: 0;
        }
    }

    &:hover {
        min-width: 150px;
        height: 55px;
        line-height: 55px;
        text-align: center;

        &:before {
            width: 100%;
            transition: all 0.3s ease;
            background-color: $base_color;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $base_color;
            right: 0;
            bottom: 0;
        }


        a {
            z-index: 1;
            color: $base_color !important;

            &:before,
            &:after {
                height: 100%;
                background-color: $base_color;
            }

            &:after {
                transition: all 0.1s ease;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }
        }
    }
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

.animated_border_btn {
    position: relative;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    &:before {
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        bottom: -1px;
        height: 1px;
        width: 0;
        -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
        transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
        background: currentColor;
        background-color: #111;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
            right: auto;
        }
    }
    &.style_1{
        font-size: 18px;
        font-weight: 400;
        text-transform: lowercase;
        letter-spacing: .9px;
        color: #000;
        border-bottom: 1px solid #ddd;
    }
    &.style_2{
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #111;
        border-bottom: 1px solid #ddd;
    }
    &.blue_hover {
        &:hover{
            color: #5758df;
            &:before {
                background-color: #5758df;
            }
        }
    }
}
.pu_link_btn{
    position: relative;
    padding: 0 0 0 62px;
    text-transform: uppercase;
    color: $white;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    &:after{
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 1px;
        background: rgba(255,255,255,.4);
    }
    &:before{
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
        transition: all .25s cubic-bezier(.645, .045, .355, 1);
        height: 1px;
        background: rgba(255,255,255,1);
    }
    &:hover{
        color: $white;
        &:before{
            width: 50px;
        } 
    }
}
.round_btn{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: $white;
    border: 2px solid #fff;
    color: #111;
    display: inline-block;
    line-height: 55px;
    text-align: center;
    &:hover{
        background-color: #f77991;
        border: 2px solid #f77991;
        color: $white;
    }
}