.pu_product_list{
    @media #{$tab}{
        display: block;
        margin-bottom: 40px;
        .product_number{
            margin-bottom: 20px;
        }
    }
}
.product_list_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
    width: 100%;
    @media #{$mobile}{
        display: block;
        margin-bottom: 40px;

    }
    .product_number{
        color: #a2a2b1;
        font-size: 16px;
        span{
            color: #28282c;
        }
        
    }
    .nc_select{
        border: 2px solid #f3f4f6;
        padding: 0 28px;
        color: #a2a2b1;
        font-size: 16px;
        min-width: 270px;
        border-radius: 3px;
        height: 55px;
        line-height: 50px;
        &:after{
            display: none;
        }
        &:before{
            position: absolute;
            content: "\f0d7";
            background-color: #f3f4f6;
            height: 55px;
            width: 55px;
            right: -2px;
            top: -2px;
            font-family:"Font Awesome 5 Free";
            font-weight:900;
            color: #68686f;
            font-size: 16px;
            border-radius: 0 3px 3px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.pu_product_list_wrapper{
    margin-bottom: 28px;
    @media #{$mobile}{
        margin-top: 20px;
    }
    .product_thumb{
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        img{
            @include transform_time(.3s);
            width: 100%;
        }
        .tricker{
            position: absolute;
            top: 16px;
            left: 16px;
            font-size: 12px;
            font-family: $raj_font;
            color: rgb(54, 58, 87);
            text-transform: uppercase;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            height: 20px;
            width: 40px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
    .cart_meta{
        border-radius: 4px;
        background-color: $white;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 35%;
        max-width: 180px;
        opacity: 0;
        visibility: hidden;
        @include transform_time(.3s);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        a{
            display: inline-block;
            padding: 12px 19px;
            color: #7e7e7e;
            border-right: 1px solid #e5e5e5;
            &:hover{
                color: $base_color_3;
            }
            &:last-child{
                border-right: 0px solid;
            }
        }
    }
    &:hover{
        .cart_meta{
            opacity: 1;
            visibility: visible;
            bottom: 33%;
        }
        .product_thumb{
            img{
                transform: scale(1.1);
            }
        }
    }
    .product_info{
        margin-top: 15px;
        .product_title{
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0;
            a{
                display: inline-block;
                color: $heading_color;
                &:hover{
                    color: #e07a5e;
                }
            }
        }
        .price{
            font-size: 16px;
            font-family: $raj_font;
            color: #e07a5e;
            font-weight: 500;
            span{
                margin-left: 12px;
                color: #999999;
                text-decoration: line-through;
            }
        }
    }
}

.all_product_wrapper{
    .load_more_btn{
        margin: 0 auto;
        margin-top: 40px;
        font-weight: 500;
        display: block;
        @media #{$tab}{
            width: 100%;
            margin: 0 15px;
            margin-top: 40px;
        }
    }
}