/**************** common css start ****************/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

body {
    font-family: $bar_font;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.78;
    color: #888;
}

input:hover,
input:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 0px transparent;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.custom-file-input:focus~.custom-file-label {
    border-color: transparent;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0rem transparent !important;
    border-color: $border_color;
}

.section_padding {
    padding: 120px 0px;

    @media #{$medium_device} {
        padding: 100px 0px;
    }

    @media #{$tab_device} {
        padding: 70px 0px;
    }

    @media #{$mobile} {
        padding: 70px 0px;
    }
}

.padding_top {
    padding-top: 120px;

    @media #{$tab} {
        padding-top: 70px;
    }

    @media #{$medium_device} {
        padding-top: 100px;
    }
}

.padding_bottom {
    padding-bottom: 120px;

    @media #{$tab} {
        padding-bottom: 70px;
    }

    @media #{$medium_device} {
        padding-bottom: 100px;
    }
}

a {
    text-decoration: none;
    @include transform_time(.3s);

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading_color;
    font-family: $raj_font;
    font-weight: 500;
}
.heading_color{
    color: $heading_color;
}
h2 {
    font-size: 46px;
    line-height: 1.34em;

    @media #{$tab} {
        font-size: 34px;
    }

    @media #{$medium_device} {
        font-size: 40px;
    }
}
p {
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 0px;
    color: $text_color;
    font-family: $bar_font;
}


a:focus,
.button:focus,
button:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
}

.border_bottom {
    border-bottom: 1px solid #e5e5e5;
}
.border_top {
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 1650px) {
    .pl_45 {
        padding-left: 45px;
    }

    .pr_45 {
        padding-right: 45px;
    }

    .pl_85 {
        padding-left: 85px;
    }

    .pr_85 {
        padding-right: 85px;
    }
}

.p_20 {
    padding: 20px;
}

.p_15 {
    padding: 20px 20px 15px;
}

.pt_30 {
    padding-top: 30px;
}

.pb_20 {
    padding-bottom: 20px;
}

.mt_25 {
    margin-top: 25px;
}

.mt_30 {
    margin-top: 30px;

    @media #{$tab} {
        margin-top: 15px;
    }
}

.mt_80 {
    margin-top: 80px;

    @media #{$tab} {
        margin-top: 40px;
    }
}
.mt_90{
    margin-top: 90px;
}
.mb50 {
    margin-bottom: -40px;
}

.mt_63 {
    margin-top: 62px;
}

.pl_30 {
    padding-left: 30px;

    @media #{$tab} {
        padding-left: 0;
    }
}

.pr_30 {
    padding-right: 30px;

    @media #{$tab} {
        padding-left: 0;
    }
}

.mt_10 {
    margin-top: 10px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_25 {
    margin-bottom: 20px;
}

.mt_50 {
    margin-top: 50px;

    @media #{$mobile} {
        margin-top: 25px;
    }
}
.pt_100{
    padding-top: 100px;
    @media #{$tab} {
        padding-top: 50px;
    }
}
.pb_100{
    padding-bottom: 100px;
    @media #{$tab} {
        padding-bottom: 50px;
    }
}
.mb_50 {
    margin-bottom: 50px;

    @media #{$tab} {
        margin-bottom: 30px;
    }
}

.mt_25 {
    margin-top: 25px !important;

    @media #{$tab} {
        margin-top: 15px !important;
    }
}

.mt_20 {
    margin-top: 20px;
}

.mb_10 {
    margin-bottom: 10px !important;
}

.mt_40 {
    margin-top: 40px;
}

.mb_40 {
    margin-bottom: 40px;

    @media #{$tab} {
        margin-bottom: 25px;
    }
}

.mt_60 {
    margin-top: 60px;
    @media #{$mobile} {
        margin-top: 20px;
    }
    @media #{$tab_device} {
        margin-top: 25px;
    }
}

.pb_65 {
    padding-bottom: 65px;

    @media #{$tab} {
        padding-bottom: 40px;
    }
}
.pt_65 {
    padding-top: 65px;

    @media #{$tab} {
        padding-top: 40px;
    }
}
.mb_55 {
    margin-bottom: 55px;

    @media #{$tab} {
        margin-bottom: 25px;
    }
}
.mb_110 {
    margin-bottom: 110px !important;

    @media #{$tab} {
        margin-bottom: 50px !important;
    }
}

.pl_80 {
    padding-left: 80px;

    @media #{$tab} {
        padding-left: 0;
    }
}
.pt_70 {
    padding-top: 70px;
    @media #{$tab} {
        padding-top: 40px;
    }
}
.pb_70 {
    padding-bottom: 70px;
    @media #{$tab} {
        padding-bottom: 40px;
    }
}

.mb_80 {
    margin-bottom: 80px;

    @media #{$mobile} {
        margin-bottom: 0;
    }
}

.mb_30 {
    margin-bottom: 30px;
}

.pl_65 {
    padding-left: 65px;

    @media #{$tab} {
        padding-left: 0;
    }
}

.mt_100 {
    margin-top: 100px;

    @media #{$tab} {
        margin-top: 30px;
    }
}

@media #{$tab} {
    br {
        display: none;
    }
}


@media (min-width: 1360px) {
    .custom_container {
        max-width: 1200px;
    }
}

.niceSelect {
    border: 1px solid $border_color;
    font-size: 16px;
    color: $text_color_1;
    display: block;
    width: 100%;
    text-transform: capitalize;
    padding: 0 20px;
    border-radius: 6px;
    float: inherit;
    font-weight: 300;

    .option:hover,
    .option.focus,
    .option.selected.focus {
        background-color: transparent;
    }

    .option.selected {
        font-weight: normal;
        color: $base_color;
    }

    &:after {
        height: 8px;
        right: 0;
        top: 43%;
        width: 8px;
    }

    .option {
        line-height: 34px;
        min-height: 34px;
        font-size: 14px;
    }

    .list {
        width: 100%;
        border-radius: 4px;
        background-color: $white;
        color: $text_color;
        padding: 20px;

        @media #{$medium_device} {
            padding: 5px;
        }

        li {
            @include transform_time(.2s);

            &:hover {
                color: $base_color !important;
            }

            @media #{$tab_device} {
                line-height: 33px;
                padding: 0 15px;
            }
        }
    }
}

.white_img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.pu_section_title {
    text-align: center;
    margin-bottom: 72px;

    @media #{$mobile} {
        margin-bottom: 35px;
    }

    @media #{$tab_device} {
        margin-bottom: 45px;
    }
    .round_shape_rotation {
        margin-bottom: 45px;
    }

    .sub_title {
        margin-bottom: 11px;
        font-size: 20px;
        color: rgb(224, 122, 94);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
    }

    .title {
        font-weight: 400;
        font-size: 60px;
        line-height: 1;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        @media #{$mobile} {
            font-size: 34px;
        }
        @media #{$tab_device} {
            font-size: 36px;
            line-height: 38px;
        }
        @media #{$medium_device} {
            font-size: 36px;
            line-height: 38px;
        }
        &.heading_color{
            color: $heading_color;
        }
    }
    .des {
        margin-top: 30px;
    }
}
.section_title_style_02{
    text-align: center;
    &.mb_72{
        margin-bottom: 72px;
        @media #{$tab}{
            margin-bottom: 40px;
        }
    }
    .title{
        font-size: 48px;
        font-family: $pl_font;
        color: rgb(39, 46, 59);
        line-height: 1.271;
        text-align: center;
        @media #{$tab}{
            font-size: 30px;
        }
        @media #{$medium_device}{
            font-size: 30px;
        }
        span{
            color: $base_color_3;
            position: relative;
            &:after{
                position: absolute;
                content: "";
                left: 0;
                top: 58%;
                width: 100%;
                height: 1px;
                background-color: $base_color_3;
            }
        }
    }
    .title_shape{
        margin-top: 10px;
    }
}

.slider_pagination{
    .slider_prev_one, .slider_next_one{
        background-color: transparent;
        width: 57px;
        height: 56px;
        color: #fff;
        line-height: 57px;
        text-align: center;
        border: 1px solid #e9e6e3;
        color: #e9e6e3;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        @include transform_time(.3s);
        &:hover{
            background-color: $base_color;
            border: 1px solid $base_color;
            i{
                color: $white;
            }
        }
        @media #{$mobile}{
            display: none;
        }
    }
}
.swiper_paginition{
    text-align: center;
    line-height: 1;
    .swiper-pagination-bullet{
        height: 6px;
        width: 20px;
        margin: 0 5px;
        border-radius: 2px;
        background-color: rgba($color: #fff, $alpha: .5);
        &.wiper-pagination-bullet-active{
            background-color: rgba($color: #fff, $alpha: 1);
        }
    }
    &.style_02{
        .swiper-pagination-bullet{
            height: 11px;
            width: 11px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: #58555c;
            border: 1px solid #fff;
            &.swiper-pagination-bullet-active{
                background-color: $base_color_3;
                border: 1px solid $base_color_3;
            }
        }
    }
}
//position fixed css
.position_abs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.video_popup {
    background-color: $white;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        position: relative;
        z-index: 9;
        @include transform_time(.3s);
    }

    .polygon_shape {
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 18px solid $base_color;
        display: block;
        text-align: center;
        margin-left: 6px;
        position: relative;
        z-index: 9;
        @include transform_time(.3s);
    }

    &:hover {
        background-color: $base_color;

        .polygon_shape {
            border-left: 18px solid $white;
        }

        img {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
        }
    }

    &.play_animation:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 80px;
        height: 80px;
        background: rgba($color: #fff, $alpha: .5);
        border-radius: 50%;
        animation: pulse-border 1500ms ease-out infinite;
        z-index: -1;
    }

    @keyframes pulse-border {
        0% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1;
        }

        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            opacity: 0;
        }
    }
}

//input box common style
.cu_input {
    padding: 13px 20px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    border-radius: 0;
    color: #7d7d7d;
    font-size: 18px;
    height: auto;
    background-clip: border-box;
    @include transform_time(.3s);

    &:focus {
        border: 1px solid rgba($color: $base_color, $alpha: .5) !important;

        &::placeholder {
            color: $heading_color;
        }
    }
}

//animation border
.link_animate_border {
    position: relative;
    display: inline-block
}

.link_animate_border:hover:after {
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1) .3s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .3s
}

.link_animate_border:before,
.link_animate_border:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e2aeb3;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1) .3s, -webkit-transform .6s cubic-bezier(.165, .84, .44, 1) .3s
}

.link_animate_border:after {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left
}

.link_animate_border:hover:before,
.link_animate_border:after {
    -webkit-transform: scaleX(0) translateZ(0);
    transform: scaleX(0) translateZ(0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1)
}

#success,
#error {
    position: relative;
    top: 10px;
    display: block;
    right: 0;
    left: 0;
    bottom: -15px;
    display: none;
    font-weight: 600;
}

#success {
    color: #b40005;
}

#error {
    color: $base_color;
}

.zoom_in_effect{
    .zoom_in_img{
        transition: all 1.5s cubic-bezier(0,0,.2,1);
    }
    &:hover{
        .zoom_in_img{
            transform: scale(1.1);
        }
    }
}

.zoom_out_effect{
    .zoom_out_img{
        transition: all 1.5s cubic-bezier(0,0,.2,1);
    }
    .zoom_out_img{
        transform: scale(1.1);
    }
    &:hover{
        .zoom_out_img{
            transform: scale(1);
        }
    }
}
.animated_border {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        bottom: -1px;
        height: 1px;
        width: 0;
        -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
        transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
        background: currentColor;
        background-color: #111;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
            right: auto;
        }
    }
    &.style_2{
        color: #111;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:before {
            background-color: $base_color_4;
        }
        &:hover {
            color: $base_color_4;
        }
    }
}

.white_img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.font_300{
    font-weight: 300 !important;
}
.font_400{
    font-weight: 400 !important;
}
.font_500{
    font-weight: 500 !important;
}
.font_600{
    font-weight: 600 !important;
}
.font_700{
    font-weight: 700 !important;
}
.font_800{
    font-weight: 800 !important;
}
.overflow_visiable{
    overflow: visible !important;
}
/**************** common css end ****************/

