.pu_surmons_details_thumb{
    position: relative;
    .pu_surmons_thumb_content{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 50px 60px;
        display: flex;
        align-items: flex-end;
        @media #{$tab_device}{
            align-items: flex-start;
        }
        @media #{$mobile}{
            padding: 15px;
            position: relative;
        }
    }
    .title {
        font-size: 60px;
        color: rgb(250, 247, 227);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 0.967;
        margin-top: 22px;
        margin-bottom: 0;
        @media #{$tab}{
            font-size: 30px;
        }
        @media #{$tab_device}{
            margin-top: 0;
        }
        @media #{$mobile}{
            color: $heading_color;
        }
    }
    .event_date{
        background-color: #d14f42;
        font-size: 29px;
        font-family: $bar_font;
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-transform: uppercase;
        width: 70px;
        height: 90px;
        position: relative;
        text-align: center;
        margin-right: 30px;
        transform: translateY(-11px);
        @media #{$mobile}{
            flex: 28% 0 0;
            margin-right: 10px;
        }
        span{
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            width: 100%;
            display: block;
            text-align: center;
            padding: 2px 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #c24033;
        }
    }
}
.pu_sermons_details{
    .pu_sermons_meta{
        padding: 30px 0;
        border-bottom: 1px solid #e0dcdc;
    }
    .sermons_post_meta{
        a{
            color: #636886;
            font-size: 14px;
            margin-right: 30px;
            font-weight: 600;
            span{
                color: #abadba;
            }
            i{
                margin-right: 8px;
            }
        }
        &.meta_style_02{
            a{
                border: 1px solid #e0dcdc;
                padding: 8px 20px;
                color: #7b7f85;
                font-size: 14px;
                display: inline-flex;
                align-items: center;
                margin-right: 12px;
                font-weight: 400;
                @media #{$tab}{
                    margin: 5px 10px 5px 0;
                }
                i{
                    margin-right: 10px;
                    font-size: 27px;
                }
                &:hover{
                    i{
                        color: $base_color_3;
                    }
                }
            }
        }
    }
    .quote_post_details{
        background-color: #ededed;
        padding: 56px 60px 53px;
        text-align: center;
        margin: 40px 0 80px;
        position: relative;
        z-index: 1;
        @media #{$tab}{
            padding: 20px;
        }
        .pu_name{
            font-size: 14px;
            color: rgb(224, 122, 94);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 13px;
        }
        .quote_title{
            font-size: 28px;
            text-transform: uppercase;
            line-height: 38px;
            font-weight: 700;
            margin-bottom: 0;
        }
        .quote_img{
            position: absolute;
            right: 40px;
            bottom: 30px;
            z-index: -1;
        }
    }
}
.pu_sermons_details_content{
    margin-top: 26px;
    .title{
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media #{$tab}{
            font-size: 30px;
        }
    }
    .description{
        margin-bottom: 20px;
    }
    img{
        margin-top: 28px;
    }
    .surmons_details_list{
        margin-top: 53px;
        .title{
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 18px;
            @media #{$tab}{
                font-size: 25px;
            }
        }
        
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                font-size: 16px;
                position: relative;
                padding-left: 27px;
                margin-bottom: 5px;
                img,i{
                    left: 0;
                    position: absolute;
                    top: 5px;
                    margin-top: 0;
                }
            }
        }
    }
}
