.team_details_content{
    @media #{$tab}{
        margin-top: 40px;
    }
    .team_details_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @media #{$tab}{
            display: block;
        }
        @media #{$medium_device}{
            display: block;
        }
        .name{
            text-transform: uppercase;
            font-weight: 700;
            color: $heading_color;
            font-size: 32px;
            margin-bottom: 0;
            span{
                color: $base_color_2;
                font-size: 16px;
                display: block;
                line-height: 1;
            }
        }
        .social_icon{
            @media #{$tab}{
                margin-top: 10px;
            }
            @media #{$medium_device}{
                margin-top: 10px;
            }
            a{
                font-size: 16px;
                color: #1b1f2e;
                display: inline-block;
                margin-right: 8px;
                padding: 11px 18px;
                background-color: #ddd;
                @include transform_time(.3s);
                @media #{$tab}{
                    margin-bottom: 8px;
                }
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    background-color: $base_color_2;
                    color: $white;
                }
            }
        }
    }
    .description{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        line-height: 26px;
    }
    .team_member_info{
        p{
            position: relative;
            padding-left: 20%;
            margin-bottom: 6px;
            font-size: 16px;
            span{
                color: $heading_color;
                font-weight: 700;
                left: 0;
                position: absolute;

            }
            a{
                color: $text_color;
            }
        }
    }
}
.team_member_img{
    img{
        width: 100%;
    }
}
.team_member_skil{
    margin-bottom: 80px;
    .progress_bar{
        margin-top: 25px;
    }
    .percentCount {
        position: absolute;
        right: 0;
        top: -39px;
    }
    .amount{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $heading_color;
    }
    .title{
        margin-top: 40px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 32px;
    }
}