$bar_font: 'Barlow', sans-serif;
$raj_font: 'Rajdhani', sans-serif;
$pl_font: 'Playfair Display', serif;

$white: #fff;
$black: #000;
$base_color: #82b29a;
$base_color_2: #e07a5e;
$base_color_3: #d14f42;
$base_color_4: #5758e0;
$section_bg: #f7f7f7;
$input_bg: #f6f7fa;
$section_bg_1: #f0f3f7;
$menu_color: #fff;
$heading_color: #363a57;
$heading_color_1: #445363;
$text_color: #636886;
$text_color_1: #7c8189;
$text_color_2: #4b4b4b;
$border_color: #d6d9dc;
$icon_color: #9198a4;
$icon_color_1: #a3a8b0;

$big_device: '(min-width: 991px)';
$tab: '(max-width: 991px)';
$mobile:'(max-width: 767.98px)';
$xs_mobile:'(max-width: 576px)';
$extra_big_screen: 'only screen and (min-width: 1440px) and (max-width: 1680px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1439px)';
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991.98px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767.98px)';
