//travel agenci banner css
.pu_banner_part {
    position: relative;
    overflow: hidden;
    z-index: 1;
    .slider_pagination{
        position: absolute;
        right: 100px;
        bottom: 45px;
        z-index: 9;
        @media #{$mobile}{
            display: none;
        }
        .slider_prev_one, .slider_next_one{
            background-color: rgba($color: #fff, $alpha: .5);
            border: 0px solid transparent;
            color: $heading_color;
            &:hover{
                background-color: #fff;
                i{
                    color: $heading_color;
                }
            }
        }
    }
    .pu_banner_slider {
        .pu_banner_patten{
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            &:after{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                background-image: url(../img/banner_overlay_01.png);
                z-index: 1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
        .pu_banner_bg {
            width: 100%;
            height: 100%;
            transition: transform 11s cubic-bezier(.1, .2, .7, 1);
            backface-visibility: hidden;
            transform: scale(1.2);
            position: absolute;
            left: 0;
            top: 0;
        }
        .swiper-slide-active{
            .pu_banner_bg {
                transform: scale(1);
            }
        }
        .swiper-slide{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$tab}{
                min-height: 600px;
                max-height: 100vh;
            }
        }
    }
    .pu_banner_content {
        position: relative;
        z-index: 1;
        .sub_title{
            font-size: 40px;
            font-weight: 700;
            color: $heading_color;
            text-transform: uppercase;
            background-color: #f2cc8e;
            padding: 12px 28px 8px;
            margin-bottom: 18px;
            display: inline-block;
            line-height: 1;
            opacity: 0;
            visibility: hidden;
            @media #{$tab}{
                font-size: 20px;
            }
            @media #{$medium_device} {
                font-size: 20px;
            }
            @media #{$big_screen} {
                font-size: 20px;
            }
        }
        .pu_banner_content_shape{
            padding-left: 35px;
            position: relative;
            z-index: 1;
            border-left: 8px solid #f2cc8e;
            opacity: 0;
            visibility: hidden;
        }
        .title {
            font-size: 90px;
            color: rgb(250, 247, 227);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 0.889;
            text-shadow: 3.536px 3.536px 5px rgba(0, 0, 0, 0.25);
            opacity: 0;
            visibility: hidden;
            @media #{$mobile} {
                font-size: 40px;
            }

            @media #{$tab_device} {
                font-size: 50px;
            }

            @media #{$medium_device} {
                font-size: 60px;
            }
            @media #{$big_screen} {
                font-size: 60px;
            }
        }
        .cu_btn {
            margin-top: 37px;
            opacity: 0;
            visibility: hidden;
        }
    }
    .swiper-slide-active{
        .pu_banner_content_shape{
            animation: fadeInRight .6s both .8s;
            opacity: 1;
            visibility: visible;
        }
        .sub_title{
            animation: fadeInRight .8s both 1s;
            opacity: 1;
            visibility: visible;
        }
        .title{
            animation: fadeInRight 1s both 1.2s;
            opacity: 1;
            visibility: visible;
        }
        .cu_btn {
            animation: fadeInRight 1.2s both 1.4s;
            opacity: 1;
            visibility: visible;
        }
    }
}

//classic banner style
.pu_classic_banner_part{
    min-height: 1050px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    @media #{$tab}{
        min-height: 800px;
    }
    @media #{$medium_device}{
        min-height: 800px;
    }
}
.classic_banner_wrapper{
    .video_popup_area{
        border-radius: 50%;
        background-color: rgb(2, 194, 169);
        box-shadow: 0px 3px 15px 0px rgba(2, 194, 169, 0.5);
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        @include background("../img/video_bg.jpg");
    }
    .sub_title {
        font-size: 17px;
        font-family: $bar_font;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.176;
        letter-spacing: 3px;
        margin-top: 27px;
    }
    .title{
        font-size: 96px;
        font-family: $pl_font;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.3;
        font-weight: 400;
        margin-top: 26px;
        @media #{$tab}{
            font-size: 35px;
        }
        @media #{$medium_device}{
            font-size: 50px;
        }
        span{
            font-size: 60%;
            display: block;
        }
    }
    .banner_desc {
        font-size: 20px;
        font-family: $bar_font;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 600;
        line-height: 1.8;
        margin-top: 17px;
        margin-bottom: 41px;
    }
    .cu_btn{
        margin: 0 8px;
        @media #{$tab}{
            margin: 8px;
        }
    }
    .base_btn{
        background-color: $base_color_3;
        border: 2px solid $base_color_3;
        &:hover{
            background-color: $white;
            border: 2px solid $white;
            color: $heading_color;
        }
    }
    .white_btn{
        &:hover{
            background-color: $base_color_3;
            border: 2px solid $base_color_3;
        }
    }
}
.pu_classic_banner_part{
    &.banner_bg_01{
        .banner_main_addrs, .banner_social_icon{
            position: absolute;
            left: -73px;
            transform: rotate(-90deg) translateX(-50%);
            top: 50%;
            @media #{$mobile}{
               display: none;
            }
            a{
                font-size: 16px;
                margin: 0 15px;
                color: rgba($color: #fff, $alpha: .4);
                &:hover{
                    color: rgba($color: #fff, $alpha: 1);
                }
            }
        }
        .banner_main_addrs{
            right: -73px;
            left: auto;
        }
    }
}
