.pu_blog_post_details{
    padding: 50px;
    border: 2px solid #ededed;
    @media #{$tab}{
        padding: 25px 20px;
    }
    @media #{$medium_device}{
        padding: 25px;
    }
    .pu_blog_tag{
        background-color: #e07a5e;
        padding: 6px 25px;
        display: inline-block;
        color: #fff;
        line-height: 1;
        margin-bottom: 25px;
    }
    .post_title { 
        font-size: 36px;
        font-family: $raj_font;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.278;
        margin-bottom: 7px;
        a{
            color: rgb(54, 58, 87);
        }
    }
    .blog_post_meta{
        margin-bottom: 12px;
        a{
            color: #636886;
            font-size: 14px;
            margin-right: 30px;
            &:hover{
                color: #e07a5e;
            }
            i{
                margin-right: 8px;
            }
        }
    }
    .description{
        margin-bottom: 40px;
    }
    .blog_desc_img{
        margin-bottom: 40px;
    }
    .blog_desc_title{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 18px;
        text-transform: uppercase;
    }
    .blog_desc_title + .description{
        padding-bottom: 40px;
        border-bottom: 1px solid #e1e6ff;
    }
    .blog_details_list{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            margin-left: 22px;
            img,i{
                margin-right: 8px;
                color: $base_color_3;
            }
        }
    }
    .quote_post_details{
        background-color: #ededed;
        padding: 56px 60px 53px;
        text-align: center;
        margin: 40px 0;
        position: relative;
        z-index: 1;
        @media #{$tab}{
            padding: 20px;
        }
        .pu_name{
            font-size: 14px;
            color: rgb(224, 122, 94);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 13px;
        }
        .quote_title{
            font-size: 28px;
            text-transform: uppercase;
            line-height: 38px;
            font-weight: 700;
            margin-bottom: 0;
        }
        .quote_img{
            position: absolute;
            right: 40px;
            bottom: 30px;
            z-index: -1;
        }
    }
    .blog_desc_sm_img{
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 40px;
        float: left;
    }
    
    .related_blog_post{
        margin-bottom: 50px;
        .title{
            font-size: 26px;
            color: rgb(54, 58, 87);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .blog_post_description{
            .title{
                font-size: 24px;
                margin-bottom: 5px;
                @media #{$tab}{
                    font-size: 18px;
                    line-height: 1.4;
                }
            }
        }
    }
}
.blog_post_author{
    border: 2px solid #ededed;
    padding: 40px;
    display: flex;
    align-items: center;
    @media #{$tab}{
        display: block;
        padding: 20px;
        margin-top: 40px;
    }
    .blog_post_author_desc{
        margin-left: 42px;
        @media #{$tab}{
            margin-left: 0;
            margin-top: 30px;
        }
        h5{
            font-size: 12px;
            color: rgb(224, 122, 94);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        .author_name{
            font-size: 36px;
            color: rgb(54, 58, 87);
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
            
            @media #{$tab}{
                font-size: 25px;
            }
        }
        .pu_desc{
            font-size: 14px;
            line-height: 26px;
        }
    }
}
.related_tag_list, .social_share_list{
    @media #{$tab}{
        margin-bottom: 30px;
    }
    .title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        @media #{$tab}{
            margin-bottom: 10px;
        }
        
    }
    .post_tag{
        a{
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #f4f4f4;
            color: #363a57;
            display: inline-block;
            padding: 4px 21px;
            line-height: 22px;
            margin-right: 5px;
            margin-bottom: 5px;
            &:hover{
                background-color: $base_color_2;
                color: #fff;
            }
        }
    }
    .social_icon{
        a{
            color: #b5becc;
            margin-right: 27px;
            &:hover{
                color: #e07a5e;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.blog_details_meta{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e6ff;
}
.post_navigation{
    .prev_post_nav, .next_post_nav{
        @media #{$xs_mobile}{
            text-align: center;
            margin: 0 auto;
        }
        h5{
            font-size: 14px;
            color: rgb(224, 122, 94);
            font-weight: 700;
            text-transform: uppercase;
        }
        .title{
            font-size: 28px;
            color: rgb(54, 58, 87);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
            @include transform_time(.3s);
            @media #{$xs_mobile}{
                display: none;
            }
            @media #{$large_mobile}{
                font-size: 20px;
            }
        }
        &:hover{
            .title{
                color: #e07a5e;
            }
        }
    }
    @media #{$xs_mobile}{
        a{
            text-align: center;
            display: inline-block;
            width: 100%;
            img{
                margin: 20px 0;
            }
        }
    }
}
.pu_comment_part{
    h4{
        font-size: 26px;
        font-weight: 700;
        margin-top: 50px;
        line-height: 1;
    }
    img{
        max-width: 100px;
        border-radius: 50%;
        @media #{$mobile}{
            max-width: 50px;
        }
    }
    .media-body{
        padding-left: 30px;
        @media #{$mobile}{
            padding-left: 20px;
        }
    }
    p{
        margin-top: 7px;
    }
    .comment_tittle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$tab}{
            display: block;
        }
        h5{
            font-weight: 700;
            font-size: 18px;
            span{
                margin-top: 12px;
                color: #e07a5e;
                font-size: 12px;
                display: block;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.4;
            }
        }
        a{
            color: $heading_color;
            font-size: 18px;
            font-weight: 600;
            &:hover{
                color: $base_color;
            }
        }
    }
    .media {
        margin: 40px 0;
        border-bottom: 1px solid #e8ebf4;
        p{
            color: #636886;
            font-size: 14px;
            line-height: 24px;
            margin-top: 13px;
        }
        .media{
            margin: 40px 0 40px 0;
            padding-top: 40px;
             border-top: 1px solid #e8ebf4;
             @media #{$mobile}{
                margin: 40px 0 25px 0;
            }
        }
        &:last-child{
            border-bottom: 0 solid transparent;
        }
    }
    .btn_arrow{
        border: 2px solid #f4f4ff;
        border-radius: 50px;
        color: $base_color_3 !important;
        padding: 9px 18px;
        line-height: 1;
        i{
            margin-right: 5px;
            color: #e07a5e;
            position: relative;
            top: 0;
            margin-left: 0;
        }
    }
    .btn_arrow:hover i, .btn_arrow:hover img {
        transform: translateX(-5px);
    }
}
.pu_comment_form{
    margin-top: 47px;
    padding-top: 46px;
    border-top: 1px solid #eff2ff;
    .title{
        font-size: 26px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }
    form{
        background-color: #f0eeec;
        padding: 50px;
        height: 100%;
        margin-top: 35px;
        @media #{$tab}{
            padding: 50px 20px;
        }
    }
    textarea, input{
        width: 100%;
        border: 1px solid #fff;
        background-color: #fff;
        height: 60px;
        line-height: 60px;
        padding: 5px 30px;
        color: #92908d;
        font-size: 14px;

    }
    textarea{
        height: 150px;
        top: 20px;
    }
    i{
        color: #dad0c5;
    }
    .form-group{
        position: relative;
        margin-bottom: 20px;
        i{
            position: absolute;
            right: 30px;
            top: 20px;
        }
    }
    .cu_btn{
        margin-top: 10px;
        padding: 17px 70px;
        @media #{$tab}{
            padding: 17px 40px;
        }
        i{
            color: #fff;
            margin-right: 5px;
        }
    }
}
