.pu_upcoming_event_description{
    padding: 40px 50px 50px;
    @media #{$tab}{
        padding: 20px;
    }
    @media #{$medium_device}{
        padding: 20px;
    }
    .date {
        font-size: 14px;
        color: #363a57;
        background-color: #f0eeec;
        padding: 4px 10px;
        font-weight: 600;
        line-height: 22px;
        display: inline-block;
        margin-bottom: 23px;
        img{
            margin-right: 8px;
        }
    }
    .title{
        font-size: 28px;
        font-weight: bold;
        line-height: 1.071;
        margin-bottom: 20px;
        @media #{$tab}{
            font-size: 24px;
        }
        a{
            color: rgb(54, 58, 87);
            &:hover{
                color: $base_color_2;
            }
        }
    }
    .author_info{
        display: flex;
        align-items: center;
        img{
            border-radius: 50%;
            max-width: 34px;
        }
        .name{
            font-size: 10px;
            color: #7c7a71;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            margin-left: 12px;
            span{
                font-size: 14px;
                color: $heading_color;
                font-weight: 700;
                display: block;
                line-height: 1;
                margin-top: 5px;
            }
        }
    }
    .btn_list{
        display: flex;
        margin-top: 25px;
        align-items: center;
        flex-wrap: wrap;
    }
    .btn_1{
        padding: 13px 24px;
        @media #{$large_mobile}{
            padding: 13px 12px;
        }
    }
    .cu_btn{
        min-width: auto;
        border-style: solid;
        border-width: 2px;
        border-color: #bebcba;
        font-weight: 700;
        color: #7b7f85;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 20px;
        margin-right: 7px;
    }
    .social_tooltip_wrapper{
        background-color: #fff;
        padding: 18px 30px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: -85px;
        transform: translateY(15px);
        left: 0;
        border: 1px solid #d9d9d8;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        @include transform_time(.3s);
        @media #{$mobile}{
            left: auto;
            right: 0;
        }
        &:after{
            position: absolute;
            content: "";
            left: 18px;
            top: -8px;
            height: 15px;
            width: 15px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            border: solid #d9d9d8;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            vertical-align: middle;
            background-color: #fff;
        }
        p{
            margin-right: 15px;
            font-size: 16px;
            font-family: $raj_font;
            color: rgb(54, 58, 87);
        }
    }
    .social_tooltip{
        position: relative;
        display: inline-block;
        &:hover{
            .social_tooltip_wrapper{
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .social_icon {
        display: flex;
        a {
            width: 27px;
            height: 27px;
            background-color: #3b5998;
            border-radius: 50%;
            display: inline-block;
            line-height: 27px;
            text-align: center;
            color: $white;
            font-size: 12px;
            margin-right: 4px;
            &:last-child{
                margin-right: 0;
            }
        }
        a[href*="facebook"] {
            background-color: #3b5998;
        }
        a[href*="twitter"] {
            background-color: #26a6d1;
        }
        a[href*="google"] {
            background-color: #dd4b39;
        }
        a[href*="linkedin"] {
            background-color: #0e76a8;
        }
    }
}
.pu_upcoming_event_wrapper{
    background-color: $white;
    @media #{$tab}{
        margin-bottom: 30px;
        .upcoming_event_thumb{
            img{
                width: 100%;
            }
        }
    }
    @media #{$medium_device}{
        margin-bottom: 30px;
    }
    &.event_style_02{
        display: flex;
        padding: 15px;
        margin-bottom: 30px;
        @media #{$tab}{
            display: block;
        }
        .upcoming_event_date{
            padding: 80px 20px;
            height: 100%;
            background-color: #f4f4f4;
            flex: 40% 0 0;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .event_date{
            font-size: 80px;
            color: #c0bfbf; 
            line-height: 50px; 
            margin-bottom: 15px;
            font-family: $bar_font;
        }
        span{
            font-size: 18px;
            line-height: 1;
            font-family: $bar_font;;
            width: 100%;
        } 
        .pu_upcoming_event_description{
            padding: 10px;
            margin-top: 30px;
            position: relative;
        }
        .event_time_wrapper{
            font-size: 14px;
            .evet_date{
                border: 1px solid $base_color_2;
                padding: 5px 10px;
                background-color: $base_color_2;
                color: $white;
                margin-right: -3px;
                @media #{$tab}{
                    display: block;
                    width: 100%;
                }
            }
            .evet_time{
                border: 1px solid $base_color_2;
                padding: 5px 10px;
                @media #{$tab}{
                    display: block;
                    width: 100%;
                }
            }
        }
        .event_time_wrapper{
            position: absolute;
            bottom: 25px;
            left: -125px;
            // @media #{$mobile}{
            //     position: absolute;
            //     bottom: 0;
            //     left: -126px;
            // }
            @media #{$tab}{
                position: relative;
                bottom: auto;
                left: auto;
                margin-top: 10px;
            }
            @media #{$medium_device}{
                position: absolute;
                bottom: 0;
                left: -126px;
            }
        }
        .title{
            font-size: 24px;
            margin-bottom: 5px;
            margin-top: 10px;
        }
        .desc{
            i{
                color: $base_color_2;
                margin-right: 8px;
            }
        }
    }
}

.pu_event_list_wrapper{
    margin-bottom: 30px;
    position: relative;
    @media #{$tab_device}{
        display: flex;
    }
    @media #{$medium_device}{
        display: flex;
    }
    .event_img{
        border: 5px solid #fff;
        @media #{$mobile}{
            width: 100%;
        }
    }
    .pu_event_list_inner{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: #fff;
        padding: 30px;
        width: 80%;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media #{$tab}{
            position: relative;
            transform: translateY(0);
            top: auto;
            width: 100%;
        }
        @media #{$medium_device}{
            position: relative;
            transform: translateY(0);
            top: auto;
            width: 100%;
        }
        .event_date{
            background-color: #d14f42;
            font-size: 29px;
            font-family: $bar_font;
            color: rgb(255, 255, 255);
            font-weight: 700;
            text-transform: uppercase;
            width: 70px;
            height: 90px;
            position: relative;
            text-align: center;
            padding-top: 5px;
            margin-right: 30px;
            @media #{$mobile}{
                font-size: 20px;
                margin-right: 0;
            }
            span{
                font-size: 12px;
                text-transform: uppercase;
                color: #fff;
                width: 100%;
                display: block;
                text-align: center;
                padding: 2px 2px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: #c24033;
                
            }
        }
        .event_content{
            margin-top: 12px;
            .event_location{
                color: #7b7f85;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.3;
                i{
                    color: $base_color_3;
                    margin-right: 8px;
                }
            }
            .event_title{
               font-size: 32px;
               font-weight: 400;
               font-family: $pl_font; 
               margin-bottom: 0;
               margin-top: 5px;
               a{
                   color: $heading_color;
                   &:hover{
                       color: $base_color_3;
                   }
               }
               @media #{$tab}{
                    font-size: 24px;
               }
               @media #{$large_mobile}{
                    font-size: 28px;
               }
            }
        }
        .event_date_line{
            border: 1px solid #d14f42;
            font-size: 18px;
            color: #d14f42;
            padding: 2px 12px;
            font-weight: 600;
            line-height: 24px;
            position: absolute;
            right: 30px;
            top: 30px;
            @media #{$mobile}{
                font-size: 16px;
            }
        }
    }
}
